<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fubiredip</title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="~/images/fubi-logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/dist/css/plugins/bootstrap.min.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="pcoded-main-container">
        @RenderBody()
   </div>

    <!-- Required Js -->
    <script src="~/dist/js/plugins/bootstrap.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

