@{
    Layout = "~/Views/Shared/Public_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/createuser.css" />
}
<section class="container">
    <header>Crear usuario</header>
    <form action="#" class="form">
        <div class="column">
            <div class="input-box">
                <label>Nombre</label><span>*</span>
                <input type="text" placeholder="Nombre" required />
            </div>
            <div class="input-box">
                <label>Primer Apellido</label><span>*</span>
                <input type="text" placeholder="Primer Apellido" required />
            </div>
            <div class="input-box">
                <label>Segundo Apellido</label><span>*</span>
                <input type="text" placeholder="Segundo Apellido" required />
            </div>
        </div>

        <div class="input-box">
            <label>Correo electronico</label>
            <input type="email" placeholder="Correo Electronico" required />
        </div>

        <div class="column">
            <div class="input-box">
                <label>Número de Teléfono</label>
                <input type="number" placeholder="Número de Teléfono" required />
            </div>
            <div class="input-box">
                <label>Fecha de nacimiento</label>
                <input type="date" placeholder="Fecha de Nacimiento" required />
            </div>
        </div>
        <div class="gender-box">
            <h3>Género</h3>
            <div class="gender-option">
                <div class="gender">
                    <input type="radio" id="check-male" name="gender" checked />
                    <label for="check-male">Hombre</label>
                </div>
                <div class="gender">
                    <input type="radio" id="check-female" name="gender" />
                    <label for="check-female">Mujer</label>
                </div>
            </div>
        </div>
        <div class="input-box address">
            <label>Dirección</label>
            <input type="text" placeholder="Primera linea" required />
            <input type="text" placeholder="Detalles de dirección" required />
            <div class="column">
                <div class="select-box">
                    <select>
                        <option hidden>País</option>
                        <option>America</option>
                        <option>Japan</option>
                        <option>India</option>
                        <option>Nepal</option>
                    </select>
                </div>
                <input type="text" placeholder="Ciudad" required />
            </div>
            <div class="column">
                <input type="text" placeholder="Provincia" required />
                <input type="number" placeholder="Código postal" required />
            </div>
        </div>
        <div class="d-flex">
            <button class="mx-2 btn btn-danger btn-lg">Cancelar</button>
            <button class="button-crear">Crear usuario</button>
        </div>
    </form>
</section>